#container {
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
}

.panel {
  height: 100%;
  width: 100vw;
  display: inline-block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

#introduction {
  background-color: #a864d2;
  height: 100vh;
  padding: 10% 25px;
  box-sizing: border-box;
}

#singapore {
  background-image: url("assets/singapore.jpg");
  background-color: #ffffff;
}

#animal {
  background-color: #fffbf4;
}

#birth {
  background-color: #fffaf4;
}

#education {
  background-color: #f2f2f3;
}

#everest {
  background-color: #c9e2c9;
}

#festival {
  background-color: #a89bbd;
}

#music {
  background-color: #e8c4c9;
}

#flowart {
  background-color: #d7c4e8;
}

.twitter-tweet {
  margin-left: 30vw;
}

h1 {
  font-family: 'Esteban', serif;
  font-size: 68px;
  color: #ffffff;
}

h2 {
  font-family: 'Esteban', serif;
  font-size: 54px;
}

p {
  width: 78vw;
  margin-left: 10vw;
  font-size: 24px;
  margin-bottom: 50px;
}

img {
  margin-top:20px;
  border: 8px solid #fff;
  margin-right: 30px;
}

img.borderless {
  border: 0px;
}
